<div class="cover-show">
  <div class="container">
    <div class="row">
      <h1 class="font-weight normal mt-5 mb-5">旅行投稿詳細</h1>
    </div>
    <div class="d-block">
<p><%= @post.location %></p>
<h2>感想</h2>
<p><%= @post.text %></p>
<h2>画像</h2>
<% if @post.image.attached? %>
   <%= image_tag @post.image.varia5nt(resize_to_limit: [450, 350]) %><br>
<% end %>
<p><%= link_to '編集する', edit_post_path(@post.id) %></p>
<%= link_to '削除する', post_path(@post.id), data: { turbo_method: :delete, turbo_confirm: "本当に削除しますか？"}　%><br>
<p><%= link_to '投稿一覧ページへ',posts_path %></p>
<%= link_to '戻る', :back %>